
@{
    ViewBag.Title = "BatchNominations";
    Layout = "~/Views/Shared/_LayoutEmployee.cshtml";
}

<h3>Message from Academy Portal</h3>
<div class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Congratulations! </strong> @ViewBag.Message
</div>
@Html.ActionLink("Home", "Index", "AcademyPortalEmployee", null, new { @class = "btn btn-primary" })
